<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ejemplo.purplechat">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Final_POI_PurpleChat">
        <activity
            android:name=".Recompensas"
            android:exported="true" />
        <activity
            android:name=".MapaUbicacion"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapaView"
            android:exported="true"
            android:label="@string/title_activity_mapa_view" />
        <activity
            android:name=".MuroUbicacion"
            android:exported="true" />
        <activity
            android:name=".MuroArchivo"
            android:exported="true" />
        <activity
            android:name=".MuroImagen"
            android:exported="true" />
        <activity
            android:name=".MuroPublicacion"
            android:exported="true" />
        <activity
            android:name=".ChatParticipantes"
            android:exported="true" />
        <activity
            android:name=".ChatMuro"
            android:exported="true" />
        <activity
            android:name=".EquipoMuro"
            android:exported="true" />
        <activity
            android:name=".GrupoMuro"
            android:exported="true" />
        <activity
            android:name=".EquipoParticipantes"
            android:exported="true" />
        <activity
            android:name=".GrupoParticipantes"
            android:exported="true" />
        <activity
            android:name=".EquipoMensaje"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".NuevoMensajeEquipos"
            android:exported="true" />
        <activity
            android:name=".Equipos"
            android:exported="true" />
        <activity
            android:name=".Participantes"
            android:exported="true" />
        <activity
            android:name=".GrupoMensaje"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".NuevoMensajeGrupos"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Grupos"
            android:exported="true" />
        <activity
            android:name=".ChatMensaje"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".NuevoMensaje"
            android:exported="true" />
        <activity
            android:name=".Chat"
            android:exported="true" />
        <activity
            android:name=".PaginaPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IniciarSesion"
            android:exported="true" />
        <activity
            android:name=".Registrarse"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>